<!this was all the original placeholder homepage stuff>
<h1>This is a placeholder homepage, homie</h1>
<p>Find me in app/views/welcome/index.html.erb, homie</p>


<body>
 <h2>This website is dedicated to all the teachers that told me i'd never amount to nothin</h2>
 <img src="http://www.geocities.ws/joeoscarmartinez/biggie.gif" alt="Biggie" style="width:304px;height:228px">
</body>


<h1>Welcome to HURDR</h1>
<p>Please login or signup and then create your restaurant list:</p>
<!link_to 'Restaurant List Generator', restaurant_path?>



<% if current_user %>
  You are signed in as <%= current_user.full_name %><br> 
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
<% end %>

<li><%= link_to "View My Profile", current_user %></li>

<li><%= link_to "View All Users", users_path %></li>

<li><%= link_to "All Restaurants", restaurants_path %></li>
